.git
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.pre-commit-config.yaml
__pycache__
*.db
*.db-shm
*.db-wal
tests/
docs/
bmad/
scripts/
images/
*.md
seerflow.yaml
seerflow.db
.envrc
.claude
.letta
.coverage
htmlcov/
